* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00bcd4;
    padding: 4px 60px;
    height:70px;
    width: 100%;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    width: 100%;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 10px;
}
/*----------menu bar-------------*/

/* 🔥 DROPDOWN */
.menu{
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* responsive---------------------------------------------------------- */
@media (max-width: 768px){

    .menu{
        display: block;
    }

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: white;
        display: none;
        padding: 20px;
    }

    nav ul.show{
        display: flex;
    }
}


/* dropdown fix */
.dropdown {
    position: absolute;
    top: calc(100% + 44px);
    left: 0;
    background: white;
    min-width: 160px;
    z-index: 999;
    display: block;          /* IMPORTANT */
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s ease;
}


.dept:hover .dropdown {
    opacity: 1;
    transform: scaleY(1);
}


.dropdown li a {
    display: block;
    padding: 10px;
    color: black;
    transition: 0.3s;
}

.dropdown li a:hover {
    background: #00bcd4;
    color: white;
}

/* scrolling text animation  */

.ticker {
    width: 100%;
    background: black;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    -webkit-font-smoothing: antialiased;
}

.ticker p {
    display: inline-block;
    animation: scrollText 20s linear infinite; /* sirf ek line */
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
    font-weight: 500;
}

@keyframes scrollText {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* tab section  */


.tab-wrapper {
  width:60%;
  height:20px auto;
  min-height: 500px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background: #fff;
  margin: 20px auto;

}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #ddd;
  border-radius: 20px;
}

.tab-btn.active {
  background: black;
  color: white;
}

.tab-content {
  display: none;
  text-align: flex-start;   /* 👈 ye add karo */
  padding: 10px;
  min-height: 400px;
}

.tab-content.active {
  display: block;
}

.tab-content img {
  max-width: 200px;
  display: block;
  margin: 20px auto;
}

.tab-content p{
    margin-top: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    line-height: 1.6;
}

/*---------------------responsive----------------------- */

/*-------------------navbar responsive start---------------*/

/*-------------------navbar responsive end---------------*/


@media (max-width: 768px) {
  .tab-content {
    flex-direction: column;
    align-items: center;
  }
}



/* ================= MOBILE (768px) ================= */
